<div class="cover mb-4 d-flex align-items-center justify-content-center text-center">
  <div class="text-center">
    <h1>Save any kind of movies</h1>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
      <% @lists.each do |list| %>
        <div class="card">
          <div class="card-body">
            <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
              <h5 class="card-title"><%= list.name %></h5>
                <%= link_to 'go to list', list_path(list), class: "btn btn-primary" %>
                </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<%= link_to "Create a movie list", new_list_path, class: "btn btn-primary" %>
